<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/api" method="post">
            Title:<input type="text" name="title">
            Text:<input type="text" name="text">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
